---
layout: splash
author_profile: false
excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
header:
   overlay_color: "#000"
   overlay_filter: "0.5"
   overlay_image: unsplash-image-1.jpg
   cta_label: "Download"
   cta_url: "https://github.com/posbit/jiraline/"
   caption: "Jiraline is distributed under GNU GPL"
   excerpt: "Jiraline is command line interface. Aim of the project is to provide developers better workflow - without GUI"

---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
