---
layout: splash
author_profile: false
header:
   overlay_color: "#000"
   overlay_filter: "0.5"
   overlay_image: unsplash-image-1.jpg
   cta_label: "Download"
   cta_url: "https://github.com/posbit/jiraline/"
   caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
   excerpt: "Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop."
intro:
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
